// Place all the styles related to the numerators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content
{
background-color:white;
color:black;
}

#div_turnero_line{
width: 99%;
clear:both;
}

#div_turnero_left{
width: 10%; 
height: 60px;
float:left;
}

#div_turnero_right{
width: 10%; 
height: 60px;
float:left;
}

#div_turnero_text{
padding-top:20px;	
padding-left:20px;	
}

#div_turnero_number{
padding-top:20px;	
padding-left:80px;	
}

#div_turnero_name{
width: 50%;
height: 60px;
float:left;
-moz-border-radius: 20px;
font-size:42px;
color:white;
}

#div_turnero_current{
width: 10%;
height: 60px;
float:left;
-moz-border-radius: 20px;
font-size:42px;
color:white;
}

#div_turnero_position{
width: 10%;
height: 60px;
float:left;
-moz-border-radius:20px;
font-size:42px;
color:white;
}

#div_footer
{
clear:both;
width: 100%;
height: 60px;
padding:10px 10px 10px 10px;
}


#div_list_line{
width: 99%;
clear:both;
padding: 20px 0px 40px 0px;
}

#div_list_left{
width: 10%; 
height: 60px;
-moz-border-radius:20px;
font-size:42px;
float:left;
}

#div_list_center_number
{
width: 10%; 
height: 60px;
-moz-border-radius:20px;
font-size:42px;
float:left;	
}

#div_list_center_link
{
width: 70%; 
height: 60px;
-moz-border-radius:20px;
font-size:42px;
float:left;	
}


#div_list_right
{
width: 10%; 
height: 60px;
-moz-border-radius:20px;
font-size:42px;
float:left;
}

#div_list_texto
{
padding-top:20px;
padding-left:20px;
}

#div_list_number
{
padding-top:20px;
padding-left:20px;
}


#header_turnero
{
padding-top:30px;
font-size:48px;
color:white;
}

#footer_turnero
{
padding-bottom:3px;
font-size:12px;
width:100%;
}

#td_turnero
{
font-size:36px;
padding:10px 10px 10px 10px;	
}

#td_turnero_numero
{
font-size:42px;
padding:25px 15px 25px 15px;	
}

#td_turnero_puesto
{
font-size:42px;
padding:25px 15px 25px 15px;	
}

#table_turnero
{
background-color:black;
padding:0px 80px 0px 80px;
}
