<h1 align="center">Llamador</h1>
<p id="notice"><%= notice %></p>

<table width="100%" border="0">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @numerators.each do |numerator| %>
  <tr>
    <td align="center"><%= link_to 'llamar al primero de ' + numerator.name.to_s, call_first_number_numerator_path(numerator) %></td>
  </tr>
<% end %>
</table>
