<div>
<h1 align="center">Llamador</h1>
<p id="notice"><%= notice %></p>

Puesto: <%= @position.name %>

<table width="100%" border="0">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @numerators.each do |numerator| %>
  <tr>

    <td align="center"><%= link_to 'llamar al primero de ' + numerator.name.to_s, numerator_position_call_first_number_path(numerator,@position) %></td>
  </tr>
<% end %>
</table>

</div>