<h1 align="center">Numeradores</h1>
<p id="notice"><%= notice %></p>

<table width="100%" border="0">
  <tr>
    <th>Utlimo numero</th>
    <th></th>
  </tr>

<% @numerators.each do |numerator| %>
  <tr>
    <td align="center"><%= numerator.current %></td>
    <td><%= link_to 'Nuevo numero para ' + numerator.name.to_s , add_number_numerator_path(numerator) %></td>
  </tr>
<% end %>
</table>
